<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid custom-padding">
        <a class="navbar-brand" href="#">Rebahan Web</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/admin/">Paket Tour</a>
                <a class="nav-link" href="/admin/sewamobil">Sewa Mobil</a>
                <a class="nav-link" href="/admin/kota">Kota</a>
                <a class="nav-link" href="/admin/artikel">Article</a>
                <a class="nav-link disabled" href="#">Logout</a>
            </div>
        </div>
    </div>
</nav>